@model LoginModel
@{ 
    Layout = "_LoginLayout";
    ViewData["Title"] = "login";
}

<section >
    <div class="d-flex align-items-center" style="min-height: 100vh">
        <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">


            <div class="text-center mt-5 mb-1">
                <div class="avatar avatar-lg">
                    <a asp-action="Index" asp-controller="Home" asp-area=""><img src="~/images/logo-4.png" class="avatar-img rounded-circle" alt="ESUT LMS" /></a>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5 navbar-light">
                <a asp-action="Index" asp-controller="Home" asp-area="" class="navbar-brand m-0">ESUT LMS</a>
            </div>


            @*<div class="text-center mt-5 mb-1">
                <div class="avatar avatar-lg">
                    <img src="~/images/logo-4.png" class="avatar-img rounded-circle" alt="ESUT LMS" />
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5 navbar-light" >
                <a href="student-dashboard.html" class="navbar-brand m-0">ESUT LMS</a>
            </div>*@
            <div class="card navbar-shadow  " >
                <div class="card-header text-center">
                    <h4 class="card-title">Login</h4>
                    <p class="card-subtitle">Access your account</p>

                    @if (TempData["Message"] != null)
                    {
                        <h4 class="text-success">@TempData["Message"]</h4>
                    }
                    
                </div>
                <div class="card-body">

                    @*<a href="student-dashboard.html" class="btn btn-light btn-block">
                        <span class="fab fa-google mr-2"></span>

                        <span class="fa fa-google mr-2"></span>
                        Continue with Google
                    </a>

                    <div class="page-separator">
                        <div class="page-separator__text">or</div>
                    </div>*@

                        <form method="post" asp-action="Login" asp-controller="Account" asp-antiforgery="true" >
                            @*<div class="was-validated">*@

                            <div >
                                <input type="hidden" asp-for="ReturnUrl" />

                                <div class="form-group">
                                    <label class="form-label" for="email">Your email address:</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="Email" class="form-control form-control-prepended" placeholder="Your email address">

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="fa fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div><span asp-validation-for="Email" class="text-danger"></span></div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="password">Your password:</label>
                                    <div class="input-group input-group-merge">
                                        <input asp-for="Password" class="form-control form-control-prepended" placeholder="Your password" >

                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span class="fa fa-key"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                                </div>

                                <div class="form-group ">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="text-center">
                                    <a asp-action="ForgotPassword" asp-controller="Account" asp-area="" class="text-black-70" style="text-decoration: underline;">Forgot Password?</a>
                                </div>
                            </div>
                        </form>



                    @*<form asp-action="Login" asp-controller="Account" method="post" asp-antiforgery="true" >
                        <div class="was-validated">
                            <div class="form-row">
                                <div class="col-12 col-md-12 mb-3">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control" placeholder="Your email address" required="">
                                    <div class="invalid-feedback"></div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-12 mb-3">
                                    <label class="form-label" for="validationSample03">City</label>
                                    <input type="text" class="form-control" id="validationSample03" placeholder="City" required="">
                                    <div class="invalid-feedback">Please provide a valid city.</div>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="invalidCheck01" required="" checked="">
                                <label class="custom-control-label" for="invalidCheck01">
                                    Agree to terms and conditions
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>*@






                </div>
                @*<div class="card-footer text-center text-black-50">
                    Not yet a student? <a asp-action="Signup" asp-controller="Account" asp-area="" >Sign Up</a>
                </div>*@

                <div class="card-footer text-center text-black-50">
                    Not yet a student? <a asp-action="Signup" asp-controller="Account" asp-area="" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Sign Up</a>
                </div>


            </div>
        </div>
    </div>
</section>
