@model UserModel
@{ 
    Layout = "_LogintLayout";
}

<section >
    <div class="d-flex align-items-center" style="min-height: 100vh">
        <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px;">
            <div class="text-center mt-5 mb-1">
                <div class="avatar avatar-lg">
                    @*<img src="assets/images/logo/primary.svg" class="avatar-img rounded-circle" alt="LearnPlus" />*@
                    <img src="~/images/logo-4.png" class="avatar-img rounded-circle" alt="ESUT LMS" />
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5 navbar-light">
                <a href="student-dashboard.html" class="navbar-brand m-0">ESUT LMS</a>
            </div>
            <div class="card navbar-shadow">
                <div class="card-header text-center">
                    <h4 class="card-title">Sign Up</h4>
                    <p class="card-subtitle">Create a new account</p>
                </div>
                <div class="card-body">

                    @*<a href="student-dashboard.html" class="btn btn-light btn-block">
                        <span class="fab fa-google mr-2"></span>
                        <span class="fa fa-google mr-2"></span>
                        Continue with Google
                    </a>

                    <div class="page-separator">
                        <div class="page-separator__text">or</div>
                    </div>*@

                    @*<form action="student-dashboard.html" novalidate method="get">*@

                    <form method="post" asp-action="Signup" asp-controller="Account" asp-antiforgery="true">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            @*<label class="form-label" asp-for="Name">Name:</label>*@
                            <div class="input-group input-group-merge">
                                <input asp-for="Name" class="form-control form-control-prepended" placeholder="Your first and last name">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fa fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Email" class="form-label" >Email address:</label>*@
                            <div class="input-group input-group-merge">
                                <input asp-for="Email" class="form-control form-control-prepended" placeholder="Your email address">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label class="form-label" asp-for="Password">Password:</label>*@
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" class="form-control form-control-prepended" placeholder="Choose a password">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fa fa-key"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label class="form-label" asp-for="ConfirmPassword"></label>*@
                            <div class="input-group input-group-merge">
                                <input asp-for="ConfirmPassword " class="form-control form-control-prepended" placeholder="Confirm password">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fa fa-key"></span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>

                        <div class="form-group text-center mb-0">
                            @*<div class="custom-control custom-checkbox-toggle custom-control-inline mr-1">
                                <input checked="" type="checkbox" id="subscribe" class="custom-control-input">
                                <label class="custom-control-label" for="subscribe">Yes</label>
                            </div>*@

                            @*<div class="custom-control custom-checkbox">
                                <input asp-for="IAgree" class="custom-control-input" checked required="">
                                <label for="terms" class="custom-control-label text-black-70">I agree to the <a href="#" class="text-black-70" style="text-decoration: underline;">Terms of Use</a></label>
                            </div>*@

                            <div >
                                <input asp-for="IAgree" >
                                <label asp-for="IAgree">
                                    I agree to the
                                    <a href="#" class="text-black-70" style="text-decoration: underline;">Terms of Use</a>
                                </label>
                            </div>
                            <div>
                                <span asp-validation-for="IAgree" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center text-black-50">
                    Already signed up?
                    <a asp-action="Login" asp-controller="Account" asp-area="">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
