<div>
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nnd8m2WZwi0?list=PLkMuTKZRjgnku4pUUBX06dFvdo-ZkKLFx" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"></iframe>*@
            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=nnd8m2WZwi0" ></iframe>*@
            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=nnd8m2WZwi0&list=PLkMuTKZRjgnku4pUUBX06dFvdo-ZkKLFx" allowfullscreen=""></iframe>*@
            @*<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>*@
        </div>
        <div class="card-body">
            Introduction to business management
        </div>
    </div>

    <!-- Lessons -->
    <ul class="card list-group list-group-fit">
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <div class="text-muted">1.</div>
                </div>
                <div class="media-body">
                    <a href="#">Intrduction to Business &Aacute; Managent</a>
                </div>
                <div class="media-right">
                    <small class="text-muted-light">2:03</small>
                </div>
            </div>
        </li>
        <li class="list-group-item active">
            <div class="media">
                <div class="media-left">
                    2.
                </div>
                <div class="media-body">
                    <a class="text-white" href="#">What is Business Administration</a>
                </div>
                <div class="media-right">
                    <small>25:01</small>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <div class="text-muted">3.</div>
                </div>
                <div class="media-body">
                    <a href="#">Managerial Economics</a>
                </div>
                <div class="media-right">
                    <small class="text-muted-light">12:10</small>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <div class="text-muted">4.</div>
                </div>
                <div class="media-body">
                    <a href="#">What you can do With Business Degree</a>
                </div>
                <div class="media-right">
                    <small class="text-muted-light">1:25</small>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <div class="text-muted">5.</div>
                </div>
                <div class="media-body">
                    <a href="#">Eloquent Basics</a>
                </div>
                <div class="media-right">
                    <small class="text-muted-light">22:30</small>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <div class="text-muted">6.</div>
                </div>
                <div class="media-body">
                    <a href="#">Take Quiz</a>
                </div>
                <div class="media-right">
                    <small class="text-muted-light">10:00</small>
                </div>
            </div>
        </li>
    </ul>
</div>