@model ContactFormModel
@{
    ViewData["Title"] = "contact";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnPost").click(function (evt) {
                if (!$("#frmContact").valid()) {
                    return;
                }

                isBusy(true);

                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: "@Url.Action("SubmitEnquiry", "Home")",
                    data: $("#frmContact").serialize(),

                    success: function (message) {
                        isBusy(false);
                        
                        $("#Name").val("");
                        $("#Email").val("");
                        $("#Comment").val("");

                        alert(message);
                    },

                    error: function (request, status, error) {
                        isBusy(false);

                        alert(error + " - Critical error occurred!");
                    }
                })
            })

            function isBusy(busy) {
                if (busy) {
                    $("#isBusy").show();
                    $("#spSubmit").hide();
                } else {
                    $("#isBusy").hide();
                    $("#spSubmit").show();
                }
            }



        })
    </script>
}




<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Contact Pages</h2>
                <ul class="bread-list">
                    <li><a asp-action="Index" asp-controller="Home" asp-area="">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a asp-action="Contact" asp-controller="Home" asp-area="">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->

<!-- Contact Us -->
<section id="contact" class="contact section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>Contact</span> Information</h2>
                    @*<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendrerit, sollicitudin nec ante.  </p>*@
                </div>
            </div>
        </div>

        <div class="contact-head">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">

                    <!-- Contact-Info -->
                    <div class="contact-info">
                        <div class="icon"><i class="fa fa-map"></i></div>
                        <h3>Location</h3>
                        <p>PMB 01660. Agbani, Enugu State, Nigeria</p>
                    </div>

                    <!-- Contact-Info -->
                    <div class="contact-info">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <h3>Email Address</h3>
                        <a href="mailto:info@esutlms.com">info@esutlms.com</a>
                        @*<a href="mailto:admission@myuniversity.com">admission@yourwebsite.com</a>*@
                    </div>

                    <!-- Contact-Info -->
                    <div class="contact-info">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <h3>Get in Touch</h3>
                        <p>+ (234) 853 232 455669</p>
                        @*<p>+ (533) 232 423 455600</p>*@
                    </div>

                    @*<div class="contact-map">
                            <!-- Map -->
                            <div id="map"></div>
                            <!--/ End Map -->
                        </div>*@

                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-head">
                        <!-- Form -->
                        <form id="frmContact" asp-action="SubmitEnquiry" asp-controller="Home" asp-antiforgery="true" class="form" >
                            <div class="form-group">
                                <input asp-for="Name" placeholder="Enter Name">
                                <div><span asp-validation-for="Name" class="text-danger"></span></div>
                            </div>
                            
                            <div class="form-group">
                                <input asp-for="Email" placeholder="Email Address">
                                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                            </div>

                            @*<div class="form-group">
                                <input name="subject" type="text" placeholder="Website">
                            </div>*@

                            <div class="form-group">
                                <textarea asp-for="Comment" placeholder="Comment"></textarea>
                                <div><span asp-validation-for="Comment" class="text-danger"></span></div>
                            </div>

                            <div class="form-group">
                                <div class="button">
                                    @*<button type="submit" class="btn primary">Post Comment</button>*@
                                    <button id="btnPost" type="button" class="btn primary">
                                        
                                        <span id="spSubmit">Post</span>
                                        <span id="isBusy" style="display:none"><i class="fa fa-refresh fa-spin"></i>&nbsp;Posting ...</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--/ End Form -->
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!--/ End Contact Us -->