<div class="page ">

    <div class="container page__container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="Admin">Admin</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <h1 class="h2">Dashboard</h1>

        @*<div class="card border-left-3 border-left-primary card-2by1">
            <div class="card-body">
                <div class="media flex-wrap align-items-center">
                    <div class="media-left">
                        <i class="material-icons text-muted-light">credit_card</i>
                    </div>
                    <div class="media-body" style="min-width: 180px">
                        Welcome <strong></strong>
                    </div>
                    <div class="media-right mt-2 mt-xs-plus-0">
                        <a class="btn btn-success" href="fixed-student-account-billing-upgrade.html">Upgrade</a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-7">

            </div>
        </div>

    </div>

    @*<div class="container page__container">
        <div class="footer">
            Copyright &copy; 2019
        </div>
    </div>*@
</div>

