<!-- Start Breadcrumbs -->
<section class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
                <ul class="bread-list">
                    <li><a asp-action="Index" asp-controller="Home" asp-area="">Home<i class="fa fa-angle-right"></i></a></li>
                    <li class="active"><a asp-action="About" asp-controller="Home" asp-area="">about</a></li>
                </ul>

                @*<ul class="bread-list">
                        <li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
                        <li class="active"><a href="about.html">about</a></li>
                    </ul>*@
            </div>
        </div>
    </div>
</section>
<!--/ End Breadcrumbs -->