<!-- Features -->
<section class="our-features section">
    <div class="container">
        <div class="row">
            <div class="col-12 wow zoomIn">
                <div class="section-title">
                    <h2>We Provide <span>Educational</span> Solutions</h2>
                    @*<p>Mauris at varius orci. Vestibulum interdum felis eu nisl pulvinar, quis ultricies nibh. Sed ultricies ante vitae laoreet sagittis. In pellentesque viverra purus. Sed risus est, molestie nec hendrerit hendreri </p>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.8s">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        @*<img src="http://via.placeholder.com/370x250" alt="#">*@
                        <img src="~/images/objectives.jpg" alt="#">
                    </div>
                    <h2>Objective</h2>
                    <p>The main objective for this initiative ...</p>

                    @*<h2>Guidelines</h2>*@
                    @*<p>
                        <ol style="margin-left:30px;">
                            <li>Sign up</li>
                            <li>Browse available courses</li>
                            <li>Select your desired course</li>
                            <li>Make payment</li>
                            <li>Enjoy your lessons</li>
                        </ol>
                    </p>*@
                   
                </div>
                <!--/ End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.6s">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        @*<img src="http://via.placeholder.com/370x250" alt="#">*@
                        <img src="~/images/student-dashboard.jpg" alt="#">
                    </div>
                    <h2>Student Dashboard</h2>
                    <p>Gain access to unlimited online courses with world class instructors, at almost nothing ... <a asp-action="Index" asp-controller="Dashboard" asp-area="Student" asp-route-id="student">continue <i class="fa fa-angle-double-right"></i></a></p>


                    @*<p>Gain access to unlimited online courses with world class instructors, at almost nothing ... <a class="btn btn-secondary" asp-action="Login" asp-controller="Account" asp-area="" asp-route-id="student">continue <i class="fa fa-angle-double-right"></i></a></p>*@
                </div>
                <!--/ End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-4 col-12 wow fadeInUp" data-wow-delay="0.4s">
                <!-- Single Feature -->
                <div class="single-feature">
                    <div class="feature-head">
                        @*<img src="http://via.placeholder.com/370x250" alt="#">*@
                        <img src="~/images/instructor-dashboard.jpeg" alt="#">
                    </div>
                    <h2>Instructor Dashboard</h2>
                    <p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim</p>
                </div>
                <!--/ End Single Feature -->
            </div>
           
           
        </div>
    </div>
</section>
<!-- End Features -->
