<!-- Slider Area -->
<section class="home-slider">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider overlay" style="background-image:url('http://via.placeholder.com/2000x1000')" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="slider-text">
                            <h1>Perfect Template for <span>Education</span> & Courses Website</h1>
                            <p>Our mission is to empower clients, colleagues, and communities to achieve aspirations while building lasting, caring relationships.</p>
                            <div class="button">
                                <a href="courses.html" class="btn primary">Our Courses</a>
                                <a href="about.html" class="btn">About Learnedu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider overlay" style="background-image:url('http://via.placeholder.com/2000x1000')" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-12">
                        <div class="slider-text text-center">
                            <h1>Creative Template for <span>Education</span> & Courses Website</h1>
                            <p>Our mission is to empower clients, colleagues, and communities to achieve aspirations while building lasting, caring relationships.</p>
                            <div class="button">
                                <a href="courses.html" class="btn primary">Our Courses</a>
                                <a href="about.html" class="btn">About Learnedu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider overlay" style="background-image:url('http://via.placeholder.com/2000x1000')" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4 col-md-8 offset-md-4 col-12">
                        <div class="slider-text text-right">
                            <h1>Responsive Template for <span>Education</span> & Courses Website</h1>
                            <p>Our mission is to empower clients, colleagues, and communities to achieve aspirations while building lasting, caring relationships.</p>
                            <div class="button">
                                <a href="courses.html" class="btn primary">Our Courses</a>
                                <a href="about.html" class="btn">About Learnedu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </div>
</section>
<!--/ End Slider Area -->
