 <!-- Header -->
<header class="header">
    <!-- Topbar #853111 -->
    <div class="topbar" style="background:#fff; color:#000;border-bottom:solid 1px #e4e3e3;">

        @*<div class="topbar" style="background:#853111; border-bottom:solid 1px #e4e3e3;">*@
        @*<div class="topbar" style="background:#96524D; border-bottom:solid 1px #e4e3e3;">*@
        @*<div class="topbar">*@
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <!-- Contact -->
                    <ul class="content">
                        <li><i class="fa fa-phone"></i>123-456-789</li>
                        <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope-o"></i>contact@yourdomain.com</a></li>
                        <li><i class="fa fa-clock-o"></i>Opening: 10:00am - 5:00pm</li>
                    </ul>
                    <!-- End Contact -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Social -->
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus "></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <!-- End Social -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="logo">
                        <a asp-action="Index" asp-controller="Home" asp-area=""><img src="~/images/logo-6.png" alt="#"></a>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <!-- Header Widget -->
                    <div class="header-widget">
                        <div class="single-widget">
                            <i class="fa fa-phone"></i>
                            <h4>Call Now<span>(+121) 1800 567 980</span></h4>
                        </div>
                        <div class="single-widget">
                            <i class="fa fa-envelope-o"></i>
                            <h4>Send Message<a href="mailto:mailus@mail.com"><span>support@education.com</span></a></h4>
                        </div>
                        <div class="single-widget">
                            <i class="fa fa-map-marker"></i>
                            <h4>Our Location<span>211 Ronad, California, Us</span></h4>
                        </div>
                    </div>
                    <!--/ End Header Widget -->
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
    <!-- Header Menu -->
    <div class="header-menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-collapse">
                            <!-- Main Menu -->
                            <ul id="nav" class="nav menu navbar-nav">
                                @*<li class="active">*@
                                <li id="lnkIndex">
                                    <a asp-action="Index" asp-controller="Home" asp-area="">Home</a>
                                </li>
                                <li id="lnkCourses">
                                    <a asp-action="Index" asp-controller="Courses" asp-area="">Courses</a>
                                </li>
                                <li id="lnkEvents">
                                    <a asp-action="Index" asp-controller="Events" asp-area="">Events</a>
                                </li>
                                <li id="lnkAbout">
                                    <a asp-action="About" asp-controller="Home" asp-area="">About</a>
                                </li>
                                <li id="lnkContact">
                                    <a asp-action="Contact" asp-controller="Home" asp-area="">Contact</a>
                                </li>
                            </ul>
                            <!-- End Main Menu -->
                            <!-- button -->
                            <div class="button">
                                <a href="contact.html" class="btn"><i class="fa fa-pencil"></i>Apply Now</a>
                            </div>
                            <!--/ End Button -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Menu -->
</header>
<!-- End Header -->
