<div class="col-lg container-fluid page__container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="fixed-student-dashboard.html">Home</a></li>
        <li class="breadcrumb-item active">Account</li>
    </ol>

    <h1 class="h2">Registration</h1>

    @await Component.InvokeAsync("TransactionReference")

    <form asp-action="Subscription" asp-controller="Account" method="post" >
        <div class="card">
            <div class="list-group list-group-fit">
                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3">lms access charge</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <div class="flex">N5, 000.00 per semester</div>

                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3">Your current plan</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <div class="flex">Basic, N120, 000.00 per semester</div>
                            <a href="fixed-student-account-billing-upgrade.html" class="text-secondary">Change plan</a>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3">student</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <div class="flex">Ayo Anegbe</div>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3">period</label>
                        <div class="col-sm-9 d-flex align-items-center">
                            <div class="flex"><select class="form-control"></select></div>

                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3">fee</label>
                        <div class="col-sm-9 d-flex align-items-center">

                            <div class="flex">
                                <div class="text-secondary " style="margin-bottom:5px;">Amount Payable: <strong>N125, 200.00</strong></div>
                                <select class="form-control"></select>
                            </div>
                            @*<a href="fixed-student-account-billing-payment-information.html" class="text-secondary">Change method</a>*@
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <div class="col-form-label form-label col-sm-3">
                            <label>Pay method</label>
                        </div>

                        <div class="col-sm-9 d-flex align-items-center">
                            <div class="flex">
                                <div><img src="/paystack/images/logo.png" style="height:30px;" /></div>
                                @await Component.InvokeAsync("PaymentInfo")

                            </div>
                            @*<a href="fixed-student-account-billing-upgrade.html" class="text-secondary">Change plan</a>*@
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="form-group row mb-0">
                        <label class="col-form-label form-label col-sm-3"></label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>